* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Nunito";
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

img {
    display: block;
}
